<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.kubota">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".MyKubotaApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:targetApi="m">

        <meta-data android:name="io.fabric.ApiKey" android:value="571cfd5e232f6bca7926f7f7ed0796d0bc033d7e" />

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/ActionModeTheme"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".ui.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SearchTheme"/>

        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.AccountSetupActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AccountSetUpTheme"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".ui.MaintenanceGuideActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/MaintenanceGuideTheme" />

        <activity
            android:name="com.microsoft.identity.client.BrowserTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="msal77983c5f-937b-4461-9ff9-896a25616f1a"
                    android:host="auth" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>